#transit {
  // border-radius: 15px;
  // border: solid 1px #e3e3e3;
  
  .transit-section {
    padding: 20px;
  }
  
  .transit-header {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  p.subway-line{
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
  }

  .transit-data-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;

    &:first-of-type {
      border-top: 1px solid white;
    }

    h2 {
      display: inline-block;
      margin: 0;
    }

    .arrival-time {
      display: flex;
      align-items: baseline;
    }
  }
}

#weather {
    // border-radius: 15px;
    // border: solid 1px #e3e3e3;

  h2 {
    display: inline-block;
    margin: 0;
  }

  h1 {
    margin: 0
  }

  .weather-section {
    padding: 20px;

    @media (max-width: 767px) {
      padding-top: 0;
    }
    
    .weather-header {
      margin-bottom: 20px;
    }  

    .icon {
      display: flex;
      justify-content: center;
    }

    .weather-data-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid white;

      &:first-of-type {
        border-top: 1px solid white;
      }
    }
  }
}

.last-updated {
  display: flex;
  align-items: baseline;
  justify-content: center;
  cursor: pointer;
  

  .updated-at {
    text-align: center;
    font-size: 14px;
    display: inline;
    margin-bottom: 0;
  }

  .refresh-icon {
    // display: inline;
    display: flex;
    justify-content: center;
  }
}